PUBLIC_SANITY_PROJECT_ID=13xgtq6v
PUBLIC_SANITY_DATASET=production
PUBLIC_SANITY_API_VERSION=2026-08-05
PUBLIC_POSTHOG_PROJECT_TOKEN=your_posthog_project_token_here
PUBLIC_POSTHOG_HOST=https://eu.i.posthog.com
DESIGN_SYSTEM_PASSWORD=choose-a-long-unique-password
